.featured-header {
  font-size: 1.6rem;
  text-align: left;
  margin-top: 3%;
  margin-left: 1%;
}

.featured-grid {
  text-align: center;
  margin: 3% auto;
  width: 94%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-between;
  column-gap: 3%;
  row-gap: 20px;
}