.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-logo {
  width: 13%;
  height: 40px;
  font-size: 1.6rem;
  color: #F85757;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.other-elements {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-element {
  text-decoration: none;
  color: #000;
  margin-right: 10px;
  width: 20%;
}